

.s1{
  margin-top: 100px;
 margin-left: 250px;
}

.cancelBtn{
  margin-left: -10px;
  margin-top: -1px;
}

.sb{
  height: 60px;
  width:1300px
}

.cover{
  
  color: transparent;
}

.cover:hover{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
 -ms-zoom-animation: unset;
}

.cover-title{
  margin-left: 10px;
}

.mt-5{
  margin-top: 100px !important; 
  margin-left: 80px !important;
 
}

.cardHeight{
  height: 280px;
}

.boxa{
  background: linear-gradient(#f1d3b3, #c97ca6);

  color: white;
  font-size: 100px !important;
  border-radius: 30px;
  justify-content: center ;
  text-align: center;
  margin-top: 20px;
}

.boxaTitle{
  font-size: 30px !important;
  margin-top: 45px;
}


.boxas{
  margin-left: 500px;
}

.boxForPts{
  height: 70px;
}


.pieSize{
  height: 400px;
  width: 400px;
  margin-top: 30px;
}

.streak1{
  background-color: #ccfbff;
  height: 40px;
  width: 40px;
}
.streak2{
  background-color: #ff8395;
  height: 40px;
  width: 40px;
}
.streak3{
  background-color: #ffc29d;
  height: 40px;
  width: 40px;
}
.streak4{
  background-color: #ef7ac5;
  height: 40px;
  width: 40px;
}
.streak5{
  background-color: #fe3ba7;
  height: 40px;
  width: 40px;
}
.streakM{
  background-color: #acf6db;
  height: 40px;
  width: 40px;
}

.streak0{
  background-color: #5ab0f7;
  height: 40px;
  width: 40px;
}



.boxh{
  height: 350px;
}


.label{
  margin-left:-150px !important;
}